name: Docker build

on:
  push:
    branches:
      - main

jobs:
  test:
    name: 'Run tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

  paths-filter:
    runs-on: ubuntu-latest
    needs: test
    outputs:
      arburg: ${{ steps.filter.outputs.arburg }}
      cc300: ${{ steps.filter.outputs.cc300 }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            arburg:
              - 'Shared/**'
              - 'Arburg/**'
            cc300:
              - 'Shared/**'
              - 'CC300/**'
  build-arburg:
    runs-on: ubuntu-latest
    needs: paths-filter
    if: needs.paths-filter.outputs.arburg == 'true'
    steps:
      - name: Build docker image
        run: echo "Building arburg docker image"

  build-cc300:
    runs-on: ubuntu-latest
    needs: paths-filter
    if: needs.paths-filter.outputs.cc300 == 'true'
    steps:
      - name: Build docker image
        run:
          echo "Building CC300 docker image"
